* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Corps principal */
body {
    font-family: 'Montserrat', sans-serif;
    background: #f5f5f5;
    color: #333;
    line-height: 1.5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* HEADER */
header {
    background-color: rgba(173, 216, 230, 0.8); /* Bleu clair avec transparence */
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px); /* Effet flou derrière le header */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

header:hover {
    background-color: rgba(173, 216, 230, 0.95); /* Augmente la visibilité au survol */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Ombre subtile */
}

header a {
    text-decoration: none;
    color: #004080;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid #004080;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 5px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

header a:hover {
    transform: scale(1.1);
    background-color: #004080;
    color: #FFFFFF;
}

h1 {
    margin-top: 40px;
    text-align: center;
    font-size: 2rem;
}

/* IMAGES */
.compte-lien {
    text-decoration: none;
}

.compte-image {
    width: 50px; /* Ajustez la taille de l'image */
    height: auto;
    border-radius: 50%; /* Exemple pour arrondir l'image */
    transition: transform 0.3s ease; /* Animation au survol */
}

.compte-image:hover {
    transform: scale(1.1); /* Agrandit légèrement l'image au survol */
}


.meteo {
    width: 100px; /* Ajustez la taille de l'image */
    height: auto;
    border-radius: 50%; /* Exemple pour arrondir l'image */
    background-color: #0099ff;
}

/* Contenu principal */
main.index {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: auto;
    padding-bottom: 120px;
}

/* Section gauche - Informations météo */
/* Conteneur principal de la section */
.weather-info {
    display: flex;
    width: 100%;
    max-width: 1200px;
    flex: 1;
    flex-direction: column;
    gap: 40px; /* Ajoute un espacement entre les éléments */
    justify-content: center;
}

.weather-left {
    flex: 1; 
    padding: 20px;
    background-color: #f7f7f7;
    overflow-y: auto; /* Pour éviter le débordement */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.weather-left h1 {
    font-size: 2rem;
    color: #333;
}

.weather-left p {
    font-size: 1rem;
    color: #888;
}

.temperature {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

.temp-value {
    font-size: 4rem;
    font-weight: bold;
    color: #FF6600;
}

.weather-details {
    margin-top: 20px;
}

.weather-details h2 {
    font-size: 1.5rem;
    color: #333;
}

main.index .weather-details ul {
    list-style: none;
    padding: 0;
}

.weather-details ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}

main.index .weather-details ul li .icon {
    font-size: 1.2rem;
}

.weather-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.search-bar {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

.container { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.formulaire {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* FOOTER */
footer {
    background-color: rgba(173, 216, 230, 0.8); /* Bleu clair avec transparence */
    color: #004080;
    font-weight: 1000;
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    padding: 10px;
    backdrop-filter: blur(10px); /* Effet flou derrière le footer */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
}

footer:hover {
    background-color: rgba(173, 216, 230, 0.95); /* Augmente la visibilité au survol */
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.2); /* Ombre subtile */
}

/* COULEUR DES MESSAGES FLASHS */
/* Styles pour la section des messages flash */
.flash-container {
    position: fixed; /* Fixe la position */
    bottom: 50px; /* Ajoute une marge de 50px au-dessus du footer */
    left: 0;
    width: 100%; /* Prend toute la largeur */
    background-color: #f8d7da; /* Couleur de fond par défaut (rouge pâle pour erreur) */
    z-index: 1500; /* Toujours au-dessus des autres éléments, y compris le footer */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Ombre douce */
}

/* Messages individuels */
.flash {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    animation: slideIn 0.5s, fadeOut 6s 5s forwards;
}

/* Styles pour différents types de messages */
.flash.success {
    background-color: #d4edda; /* Vert pâle pour succès */
    color: #155724; /* Vert foncé pour texte */
}

.flash.error {
    background-color: #f8d7da; /* Rouge pâle pour erreur */
    color: #721c24; /* Rouge foncé pour texte */
}

.flash.warning {
    background-color: #fff3cd; /* Jaune pâle pour avertissement */
    color: #856404; /* Jaune foncé pour texte */
}

.flash.info {
    background-color: #d1ecf1; /* Bleu pâle pour information */
    color: #0c5460; /* Bleu foncé pour texte */
}

.flash .close-btn {
    float: right;
    font-size: 18px;
    font-weight: bold;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}
.flash .close-btn:hover {
    color: #000; /* Couleur au survol */
}

/* Responsiveness: Ajoutez des styles pour mobiles si nécessaire */
@media (max-width: 480px) {
    .flash {
        font-size: 12px;
        padding: 6px;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* MAP OUTILS */
/* MAP THERMIQUE */
/* Structure principale */
.conteneur {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* Section des contrôles */
.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.date-picker,
.region-search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

label {
    font-weight: bold;
    color: #555;
}

input[type="date"],
input[type="text"] {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="date"]:focus,
input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
}

.bton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bton:hover {
    background-color: #0056b3;
}

.bton-reset {
    background-color: #6c757d;
}

.bton-reset:hover {
    background-color: #5a6268;
}

/* Carte et informations */
.map-and-info {
    display: flex;
    gap: 20px;
}

#mapContainer {
    flex: 2;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#temperatureDetails {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-y: auto;
    max-height: 500px;
    background-color: #f8f9fa;
}

#temperatureDetails h2 {
    margin-top: 0;
    color: #333;
    text-align: center;
}

#temperatureList {
    list-style: none;
    padding: 0;
    margin: 0;
}

#temperatureList li {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#temperatureList li:last-child {
    border-bottom: none;
}

/* Section droite - Carte */
.map-container {
    width: 100%; /* Prend toute la largeur */
    display: flex;
    justify-content: center; /* Centre la carte */
    align-items: center;
    flex: 2;
}

#map {
    width: 200%; /* Largeur adaptative */
    height: 500px; /* Hauteur fixe */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #ccc;
}

/* Barre de recherche des régions */
.region-search {
    text-align: center;
    margin: 0 auto; /* Centre la barre horizontalement */
    background: linear-gradient(to bottom, #84d0f1, #c7eafd); /* Thème bleu dégradé */
    padding: 10px 20px; /* Espacement intérieur */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
    width: 100%; /* Largeur adaptative */
    top: 10px;
}

#regionInput {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 60%; /* Largeur adaptative */
    max-width: 400px; /* Largeur maximale */
    margin-right: 8px; /* Espacement à droite du bouton */
    background-color: #f0faff; /* Fond bleu clair */
    color: #333; /* Couleur du texte */
}

#regionInput:focus {
    outline: none;
    border-color: #0077be;
    box-shadow: 0 0 4px rgba(0, 119, 190, 0.5); /* Effet lumineux */
}

#searchRegionButton {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #0077be;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#searchRegionButton:hover {
    background-color: #005b96;
}

/* PAGE DES UTILISATEURS */
/* Liste des utilisateurs */
.profile-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.user-details p {
    margin: 10px 0;
}

.profile-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
}

.btn:hover {
    opacity: 0.9;
}

/* UTILISATEUR - inscription et connexion */
/* Conteneur principal */
.formulaire {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px; /* Espacement entre les deux formulaires */
    margin: 50px auto;
    max-width: 800px;
}

/* Style des formulaires individuels */
.formulaire div {
    background: linear-gradient(to bottom, #84d0f1, #c7eafd);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%; /* Taille égale pour les deux formulaires */
    max-width: 350px;
}

/* Séparation des formulaires avec une barre */
.formulaire::after {
    content: '';
    display: block;
    width: 2px;
    height: auto;
    background-color: #007acc;
    position: relative;
    margin: 0 10px;
}

/* Titres des formulaires */
.formulaire h3 {
    text-align: center;
    color: #005b96;
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
}

/* Champs d'entrée */
.formulaire input[type="text"],
.formulaire input[type="email"],
.formulaire input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #007acc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f0faff;
    color: #333;
    box-sizing: border-box;
}

/* Boutons des formulaires */
.formulaire button {
    display: block;
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007acc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Bouton bascule */
#toggleButton {
    display: block;
    width: 150px; /* Réduit la largeur */
    margin: 20px auto;
    padding: 10px;
    font-size: 14px;
    color: #007acc;
    background: transparent;
    border: 2px solid #007acc;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
}

#toggleButton:hover {
    background-color: #007acc;
    color: #fff;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    .formulaire {
        flex-direction: column;
        align-items: center;
    }

    .formulaire::after {
        display: none;
    }
}

/* UTILISATEUR - formulaire de modification et changement de role */
/* Style général partagé par tous les formulaires */
.form-container {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background: linear-gradient(to bottom, #84d0f1, #c7eafd);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    color: #333;
}

/* Titres des formulaires */
.form-container h1 {
    text-align: center;
    color: #005b96; /* Bleu ciel */
    font-size: 24px;
    margin-bottom: 20px;
}

/* Labels */
.form-container label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #005b96; /* Bleu plus sombre */
}

/* Champs de saisie */
.form-container input[type="text"],
.form-container input[type="email"],
.form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #007acc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f0faff;
    box-sizing: border-box;
}

/* Champs focus */
.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container select:focus {
    border-color: #005b96;
    box-shadow: 0 0 5px rgba(0, 91, 150, 0.5); /* Effet lumineux */
    outline: none;
}

/* Boutons */
.form-container button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007acc;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

/* Boutons hover */
.form-container button:hover {
    background-color: #005b96;
}

/* Responsive Design */
@media (max-width: 768px) {
    .form-container {
        padding: 15px;
        font-size: 14px;
    }

    .form-container button {
        font-size: 14px;
    }
}

/* UTILISATEUR - Deconnexion */
/* Styles pour les informations utilisateur */
.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.user-info .user-name a {
    text-decoration: none;
    color: #004080;
    padding: 10px 15px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease; /* Animation fluide */
    font-weight: bold;

}

.user-info .user-name a:hover {
    color: #fff; /* Couleur au survol */
    transform: scale(1.1); /* Agrandit légèrement */
}

/* Style pour le lien de déconnexion */
.logout-link {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

.logout-link:hover {
    background-color: red;
    color: white;
    border-radius: 4px;
    border: solid 2px white;
}