body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  /* Styles pour tous les liens sauf ceux avec la classe .create */
  a:not(.create) {
      background-color: rgb(62, 62, 201);
      color: white;
      text-decoration: none;
      border-radius: 5px;
      display: inline-block;
      font-size: 16px;
      padding: 10px 20px;
      transition: background-color 0.3s ease;
  }
  
  a:not(.create):hover {
      background-color: aqua;
      color: black;
  }