<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire d'inscription</title>
</head>
<body>

    <!-- Ceci est juste la vue du code pour le formaulrie d'inscription afin de gagner du temps et il n y a pas de CSS car cela se fera plus tard-->
    
    <!-- Vue du formualrei et structure -->
    <h2>Formulaire d'inscription</h2>
    <form action="traitement_inscription.php" method="POST">
        <label for="nom">Nom :</label>
        <input type="text" name="nom" id="nom" required><br><br>
        
        <label for="prenom">Prénom :</label>
        <input type="text" name="prenom" id="prenom" required><br><br>
        
        <label for="email">Email :</label>
        <input type="email" name="email" id="email" required><br><br>
        
        <label for="motdepasse">Mot de passe :</label>
        <input type="password" name="motdepasse" id="motdepasse" required><br><br>
        
        <button type="submit">S'inscrire</button>
    </form>
</body>
</html>